<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TJK SURVEY</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/splash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../assets/splash/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../assets/splash/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/splash/css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: #3498DB">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">TJK SURVEYING SINCE 1950</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Order a survey today!</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/form">Order Survey</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Building Information Modeling is all about more data at your hands, improving your decision making capabilities throughout the design and construction process. From mortgage surveys to legal descriptions, TJK surveyors uses the latest technology to analyze any property thoroughly. Also, our competent staff helps ensure that we provide excellent service the first time around. Over 60 years of experience have made us the go to source for surveying in the state of Florida.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="client/contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-compass text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">MORTGAGE SURVEY</h3>
              <p class="text-muted mb-0">A mortgage survey is almost always required by a lender to confirm that the property being purchased is free of any above ground encroachments. All improvements within the boundaries are shown, as well as the boundary lines to display the property’s limits.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-crosshairs text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">ELEVATION CERTIFICATE</h3>
              <p class="text-muted mb-0">An elevation certificate can be obtained to purchase flood insurance. The certificate is usually ordered at the same time as the mortgage survey. In addition, an elevation certificate could be required to obtain building permits for certain residential and/or commercial projects.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-location-arrow text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">TOPOGRAPHIC LAND SURVEY</h3>
              <p class="text-muted mb-0">A topographic survey is a boundary survey that includes elevations of the terrain throughout the property, including two onsite benchmarks. This type of survey is usually necessary for design purposes, which would be useful to an architect or engineer.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-map text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">ALTA/ACSM SURVEY</h3>
              <p class="text-muted mb-0">This is the most complete type of survey available because it includes many details that a standard boundary survey does not. For a complete list of what an ALTA/ACSM land title survey contains, please click here. are deeply concerned about the needs of a sustainable land development, proper protection of coastal and fresh water resources.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-map-signs text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">SPECIFIC PURPOSE SURVEY</h3>
              <p class="text-muted mb-0">A specific purpose survey can be used for many specific purposes, such as locating a specific area within a larger parcel of land. It may include only one side of a building structure, or even one property line, instead of surveying the whole property.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-industry text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">AS-BUILT SURVEY</h3>
              <p class="text-muted mb-0">An as built survey, which is commonly called a record survey, notes down both horizontal and vertical dimensional data. It’s this data which is then used to find and set forth construction improvements on the property. In essence, an as-built survey is an “as is” survey of a property.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-bank text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">SPOT SURVEY</h3>
              <p class="text-muted mb-0">The spot survey is a shortened report that states exactly where the boundary lines are, ensuring that the home sits within the boundaries outlined. However, that is not a requirement for the spot survey.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">FOUNDATION SURVEY</h3>
              <p class="text-muted mb-0">Once the foundation walls are poured and in place, a foundation survey is done to document that step in the construction process. This type of survey is performed to make sure that the walls were constructed at the right elevation and in the proper location.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>786-242-7692 (Dade)</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">tjksurveys@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="../assets/splash/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/splash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../assets/splash/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../assets/splash/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../assets/splash/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>